.ball{
    display:inline-block;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: rgb(105, 175, 251);
}

#bouncingball{
    margin: 90px;
    height: 100px;
    width: 100px;
}

/*  animation: name duration timing-function delay iteration-count direction fill-mode; */

#ball1{
  animation: ball 1.2s 1s infinite ;
}
#ball2{
   animation: ball 1.2s 1.1s infinite ;
  }

#ball3{
   
    animation: ball 1.2s 1.2s infinite ;
  }

@keyframes ball {
    0%{
        transform:translateY(0);
    }
    35%{
        transform:translateY(23px);
    }
    70%{
        transform:translateY(-23px);
    }
    80%{
        transform:translateY(0px);
    }
    
    
}