body{
    margin: 2;
    padding: 0;
    background-color: rgb(27, 3, 38);

}
.nav{
    background-color: rgb(119, 55, 142);
    color: white;
    letter-spacing: 2px;
    padding: 6px;
    height: 60px;
    position:sticky;
    top:0%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
    float: right;
}

a:hover{
    background-color: rgb(65, 26, 79);
}

li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}



    
 .image img{
    width: 350px;
    height: 350px;
    margin-left: 90px;
    margin-right:200px;
    margin-top: 60px;
    border-radius: 50%;
    float: left;
  }

 #text{
    margin-top:120px;
 }

 #abouth1{
    color: rgb(152, 116, 186);
 }
 h1{
    color: blanchedalmond;
    letter-spacing: 2px;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 strong{
   color: rgb(151, 2, 164);
 }

 .home h3{
   color: rgba(250, 241, 213, 0.605);
 }

 .about h4{
    color: rgb(241, 234, 224);
    letter-spacing: 1px;
    font-size: large;
    
 }

 .about{
   padding: 8px;
    margin: 9px;
    margin-top:20px;
  margin-left:100px;
    background-color: rgba(248, 218, 250, 0.377);
    /* opacity:50%; */
    height: 400px;
    width: 380px;
    border-radius:4%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    
 }

 .experience{
   padding: 8px;
    margin: 9px;
    margin-top:4px;
     margin-right:100px;
    background-color: rgba(248, 218, 250, 0.377);
   height: 400px;
    width: 400px;
    border-radius:4%;
    letter-spacing: 1px;
  float: right;
    
 }

  .expertise{
  padding: 6px;
   margin: 9px;
   margin-top:4px;
   margin-right:455px;
   background-color: rgba(248, 218, 250, 0.377);
  height: 400px;
   width: 400px;
   border-radius:4%;
  
   margin-left: 56rem;
   
} 



  .expertise{
 padding: 8px;
   margin: 9px;
   margin-top: 1px;
   margin-left:900px;
   background-color: rgba(248, 218, 250, 0.377);
   height: 400px;
   width: 400px;
   border-radius:4%;
   letter-spacing: 1px;
  float: right;}

 #skills{
line-height: 25px;
color: rgb(241, 234, 224) ;
 }

 /* #expertise{
line-height: 25px;
color: rgb(241, 234, 224) ;
margin-top: 0px;

 } */

 /* .skills_{
  float: right;

 } */

 .skills{
   float: right;
 }

 .contact{
   height: 400px;
   width:1310px;
   margin: 8px;
   border-radius:7%;
   background-color: rgba(248, 218, 250, 0.377);
   
 }
 .form{
   margin: 20px;
   text-align:left;
   font-size:15px;
   float: left;
   overflow: hidden;
   text-align: center;
   margin-left: 13rem;
   border: none;
   
   
 }
 .input_box{
   width: 900px;
   height:30px;
   text-align: center;
   display: flex;
   justify-content: center;
 }

 #btn{
   border-radius:15%;
   border: none;
   font-size:x-large; 
   background-color:rgb(119, 55, 142);
   color: aliceblue;
 }

 .info{
   margin:0px;
   padding: 0px;
   display: block;
   float: right;
   background-color: rgba(232, 198, 237, 0.387);

 }

 .info li{
   list-style-type: none;
 }
 .icon{
   width:30px;
   height: 30px;
   margin: 1px;
 }

 .project1 img{
  height: 200px;
  width: 400px;
 border: none;
 margin-left:2rem;
 margin-right:13rem;
 float: left;

 }

 .project2 img{
  height: 200px;
  width: 400px;
 border: none;
 margin-left: 10rem;
 margin-right:2rem;
 float: right;
 margin-top: 4rem;

 }

 .text1{
  color: beige;
 }
 .text2{
  color: beige;
  margin-left: 1rem;
  margin-top: 5rem;
 }


