.pulse{
    width: 15px;
    height: 15px;
    background-color: rgb(105, 175, 251);
    display: inline-block;
    border-radius: 25px;
    margin-left: 3px;
}

#container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 250px;
    
}

#ball1{
    animation: up 0.7s 1s ;
}

#ball2{
    animation: down 0.7s 1.5s ;
}

#ball3{
    animation: up 0.7s 2s ;
}

@keyframes up {
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(-49px);
    }
}

     @keyframes  down {
    
        20%{
            transform: translateY(0px);
        }
        40%{
            transform: translateY(40px);
        } 
       
}