/* Product Card Grid */
.product-main {
    display: inline-block;
   
  }

  img{
    height: 250px;
   
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    float: left;
  }
  
  .nav {
    background-color: rgba(234, 21, 74, 0.811);
    text-decoration: none;
    color:#f2f2f2;
    display: block;
    text-align: center;
    padding: 12px 14px;
}

  
  .product-card {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  